class uart_agent extends uvm_agent;
  `uvm_component_utils(uart_agent)
  uart_driver drv;
  uart_monitor mon;
  uart_sequencer seqr;
  function new(string name="uart_agent",uvm_component parent);
    super.new(name,parent);
  endfunction
  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    drv=uart_driver::type_id::create("drv",this);
    mon=uart_monitor::type_id::create("mon",this);
    seqr=uart_sequencer::type_id::create("seqr",this);
  endfunction
  function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    drv.seq_item_port.connect(seqr.seq_item_export);
  endfunction
endclass
  